<form method='post' action='/savepost'>
<input type='text' name ='content' placeholder='share with everyone'>
<input type='submit' value ='post'>
</form>
<form method='get' action='/mywall'>
<input type='submit' value='my wall'>
</form>
<form method ='get' action='/newsfeed'>
<input type='submit' value ='newsfeed'>
</form>